/* /general/  */
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    text-transform: capitalize !important;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    overflow:  hidden ;
}
/* sppiner  */
#spinner{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0 ;
    right: 0;
    background-color: #6c757d;
    z-index: 99999999999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  

/* nav bar*/
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
}

.iconsocial a i{
    color: #000;
    font-size: 16px;
    transition: all 1s;
}
/* .navbar-light .navbar-nav :hover , */
.iconsocial a i:hover ,.nav-link a:hover
{
    color:  #f25454;
}
.activeL{
    border-bottom: #f25454 2px solid;
    color:  #f25454;
    font-weight: 600;
}
.navBaar{
    transition: all 1.5s;
    background-color:rgba(255, 255, 255 , .5);
    padding: 0 1%;
    box-shadow: 15px 15px 38px 0px rgb(0 0 0 / 9%);
    
}
@media all and (max-width:875px) {
    #logooo{
        width: 60%;
    }
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
        padding: 28px 0;
    }
    /* .iconsocial{
        width: 100%;
        flex-direction: row;
        margin-left: 26%;
    } */
}
.logo{
    border-radius: 50%;
    border-top: 12px solid green;
    border-left: 18px solid red;
    border-bottom: 12px solid black;
    background-color: rgba(255, 255, 255,1);
    color: #000;
    /* border-right: 12px solid transparent; */
    font-size: 17px;
    /* width: 20%; */
}

/* /slider/ */
.imgSlid{
    background-image: url(../images/united.jpeg);
    background-position: center center;
    background-size: cover;
    
}
.imgSlid2{
    background-image: url(../images/tashee.jpeg);
    background-position: center center;
    background-size: cover;
    
}
.imgSlid3{
    background-image: url(../images/amer.jpeg);
    background-position: center center;
    background-size: cover;
    
}

.carousel-control-prev,.carousel-control-next{
    border: 1px solid #fff;
    padding: 5px;
    width: 80px;
    height: 50px;
    position: relative;
}

.prevnext{
    width:150px;
    height: 100%;
    
}
.home .settings {
    top: 20%;
    background-color: #2b2424;
    padding: 8px 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home .settings:hover{
    opacity: .8;
}

.home .settings i {
    font-size: 20px;
}


/* .navbar::after{
    content: "";
    width: 100%;
    height: .5px;
    background: #fff;
    top: -20%;
    display: block;
    position: relative;
} */
#aboutlink{
    width: 26px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 13px;
    margin: auto;
    position: absolute;
    z-index: 22;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
    
    cursor: pointer;
}
.overlay-slide h2{
    text-shadow: 1px 3px 0 #8a5858, 1px 13px 5px #aba8a8;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    font-size: 70px;
}
.scroll{
    width: 8px;
    height:8px;
    background: #fff;
    margin:10% auto  0 auto;
    border-radius: 50%;
    animation: scroll 1s infinite linear;
    transition: .3s;
}
@keyframes scroll {

    0% {
        margin-top: 5%;
        opacity: 1;
    }

    10% {
        margin-top: 10%;
        opacity: .9;
    }

    20% {
        margin-top: 20%;
        opacity: .8;
    }

    30% {
        margin-top: 30%;
        opacity: .7;
    }

    40% {
        margin-top: 40%;
        opacity: .6;
    }

    50% {
        margin-top: 50%;
        opacity: .5;
    }

    60% {
        margin-top: 60%;
        opacity: .4;
    }

    70% {
        margin-top: 70%;
        opacity: .3;
    }

    80% {
        margin-top: 80%;
        opacity: .2;
    }

    85% {
        margin-top: 90%;
        opacity: .0;
    }
    95% {
        margin-top: 10%;
        opacity: 0;
    }
    100% {
        margin-top: 10%;
        opacity: .5;
    }
   
}
#aboutlink:hover{
    border-color: #ff305b !important;
}
#aboutlink:hover .scroll{
    background: #ff305b !important;
}
/** services section*/
.service-item{
    padding-left: 60px;
    margin: 12px 0px;
}
.service-item h4{
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    transition: all .5s;
}
.service-item h4:hover {
    color: #f25454;
}
.service-item p{
    /* color: #666;
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.75rem; */
    line-height: 34px;
    color: #666;

}
.iconf{
    color: #f25454;
    left: 2%;
    top: 8%;
}
/* about us section  */
#aboutUs{
    margin-bottom: 100px;
}
#img1,#img2{
    width: 75%;
    border: solid 4px #8b8687 ;
    /* height: 200px; */
    overflow: hidden;
    transition: all 1s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#img1{
    position: relative;
}
#img2{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25% ,5%);
}
#img1 img,#img2 img{
    transition: all 1.5s;
}
.caption h2{
    font-size: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    line-height: 32px;
}
.caption p{
    line-height: 34px;
    color: #666;
}


.slider{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    position: relative;
    height: 160px;
}



.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 30%;
  }

  .swiper-slide:nth-child(2n) {
    width: 30%;
  }

  .swiper-slide:nth-child(3n) {
    width: 20%;
  }







/* our team section  */
.item .img {
    height: 380px;
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.item .img img{
    transition: all 1s;
}
.ahimg{
    transform: scale(1.016);
}
.item:hover .img img{
    transform: scale(1.25);
}
.img .overlay{
    position: absolute;
    width: 100%;
    height: 0%;
    top: -10%;
    left: 0%;
    content: "";
    background: rgba(155, 141, 141, 0.5);
    transition: all 1s;
    overflow: hidden;
}

.item:hover  .img .overlay{
    top: 0;
    height: 100%;
}
.img .overlay1{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0%;
    left: -20%;
    content: "";
    background: rgba(155, 141, 141, 0.5);
    transition: all 1s;
    overflow: hidden;
}
.overlay-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    transition: all 1s;
    overflow: hidden;
}
.item:hover  .img .overlay1{
    left: 0;
    width: 100%;
}
.overlay-about-icons ul li a i ,.foo-icon-social{
    color: #ccc;
    padding: 0 8px;
    transition: all .4s;
    padding: 8px;
    width: 40px;
    height: 36px;
}
.foo-icon-social{
    color: #888;
}
.overlay-about-icons ul li a i:hover{
    color:#ff206e ;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgb(161, 161, 167);
}

/* client review section  */
.header .container .row h2{
    font-size: 80px;
    color: #f1f1f1;
}
.header .container .row h3{
    font-size: 40px;
}
.header .container .row::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 9%;
    background-color: #ff206e;
    display: block;
    bottom: 10%;
    transition: all .5s;
}
#team:hover .header .container .row::after,
#clientReview:hover .header .container .row::after,
#aboutUs:hover .header .container .row::after,
#services:hover .header .container .row::after,
#contact:hover .header .container .row::after
{
    width: 12%;
    background-color: #ff206e;

}
.carousel-indicators{
    position: static;
}
#about .container .row .carousel .carousel-inner{
    margin-top: -80px;
}
#about .container .row .carousel .carousel-inner .carousel-item{
    text-align: center;
}
 .carousel-indicators li{
    text-indent: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
  .carousel-indicators li img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
 .carousel-item img{
    height: 150px;
    width: 150px;
    transform: translateY(50%);
    margin: auto;
}
.feedback{
    background-color: #eee;
}
.feedback h6{
    position: relative;
}
.feedback h6::before {
   content: "";
   position: absolute;
   width: 8%;
   height: 1.2px;
   top: -55%;
   left: 46%;
   background-color: #ff206e
}
.carousel-control-prev ,.carousel-control-next{
    width: 40px;
    height: 40px;
    position: absolute;
    margin:0 8PX;
    top: 55%;
    border-radius: 50%;
    transition:all 1.2s;
    border: 2px solid #ff206e;
    outline:2px solid transparent;
}
.carousel-control-prev:hover ,.carousel-control-next:hover{
    background-color: #ff206e;
    border:2px solid aliceblue;
    outline: 2px solid #ff206e;
}

/* footer  */
footer{
    background-color: #444;
    color: #f1f1f1;
}
.widget h5{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
} 
.elementor-icon-box-content{
    padding-left: 60px;
    margin: 12px 0px;
    position: relative;
}

.foo-icon{
    position: absolute;
}
.foo-icon  i{
    font-size: 28px;
    color: #ff206e;
}
h6 a,h6 span{
    color: #fff;
    transition:all 1s;
    font-weight: 700;
}
h6 a:hover ,.copy-right p a:hover{
    color: #ff305b;
    text-decoration: none;
    font-weight: 700;
}
.foo-icon-social:hover{
    color: #ff305b;
}
footer .up-icon {
    width: 50px;
    height: 50px;
    top: -23px;
    right: 50%;
    font-size: 30px;
    padding:  10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #ff305b;
    opacity: .5;
    transition: .8s;
    transform: translate(50%, 0);
}
footer .up-icon:hover{
    opacity: 1;
}


.copy-right{
    width: 100%;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgba(255, 255, 255, 0.1);
    padding: 10px 0px 10px 0px;
    text-align: center;
}
.copy-right p a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: all 1s;
}

.whats{
    position: fixed;
    z-index: 99999999;
    bottom: 25px;
    right: 25px;
    background-color: #2ECC71;
    box-shadow: 0px 0px 11px rgb(0 0 0 / 10%);
    border-radius: 49px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s;
    /* background-color: #34bc48; */
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
    word-break: break-word;
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whats:hover{
    background-color: #34bc48; 
}
.whats a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
    word-break: break-word;
}
.whats a  i {
    width: 20px;
    color: #fff;
    font-size: 22px;
}
.whats  a:after {
    content: "WhatsApp";
    color: #fff;
    padding-left: 6px;
    font-size: 14px;
}
.foo-services,.elementor-icon-box-description{
    color: #6c757d;
    font-size: 15px;
    transition: all 1s;
}
.foo-services:hover ,.elementor-icon-box-description:hover{
    color: #ff305b;
}

/* end of footer  */

/* start of contact us  */
#contact{
    background-color: #faf8f8;
}

.elementor-icon-box-content h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

iframe{
    width: 100%;
    height: 400px;
    border: 0;
}